$primary-color: #6ebe3b;

$dark-green: #5eaa2e;
$dark-green-2: #67b238;
$gray-color: #33571c;
$black-gray-color: #333;

$white-color: #f8f6f5;
$soft-color: #e4d9d1;
$primary-font: "Lora", serif;
$second-font: "Karla", sans-serif;
$third-font: "Lato", sans-serif;
